body{
  background: black;
}
#app {
  position: relative;
  height: 100%;
  width: 100%;
  background: black !important;
  color: white;
  overflow:hidden;
}
.video {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.skin {
  position: fixed;
  width: 100%;
  height: 100%;
}
.transparent {
  opacity: 0;
}